.app{
    width: 50%;
    background-color: #A3835B;

    display: flex;
}

.container__app{
    width: 35rem;
    max-width: 70%;
    min-height: 10%;
    background-color: rgba(255, 255, 255, .5);

    margin: auto;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, .2);
    overflow: hidden;
}

/* text default */
.default__container{
    text-align: center;
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    color: rgba(0, 0, 0, .5);
}


@media screen and (max-width:1024px) {
    .app{
        width: 100%;
    }
}